.our-passion {
  margin-top: 60px;
  margin-bottom: 60px;
  p {
    margin-bottom: 9px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media (min-width: 1024px) {
    margin-top: 90px;
    margin-bottom: 80px;
  }
}
