.resources-tab {
  &__container {
    margin-top: 60px;
    margin-bottom: 60px;
    img {
      margin: 2rem 0;
    }
    p + img {
      margin-top: 1rem;
    }
  }
  &__title {
    width: 50%;
    a {
      padding: 12px 15px;
      border: 2px solid #f6f6f6;
      transition: 0.2s;
      font-size: 13px;
      margin-top: 9px;
      @extend .text-grey-extra;
      @extend .text-center;
      &:focus {
        outline: none;
      }
    }
    &.is-active a {
      padding: 15px;
      border-color: $primary;
      font-size: 16px;
      margin-top: 0;
      @extend .bg-primary;
      @extend .text-white;
      @extend .fw-bold;
    }
  }
  &__content {
    @media (max-width: 641px) {
      margin-top: 32px;
    }
    p,
    a,
    button {
      font-size: 16px;
    }
    p {
      margin-bottom: 7px;
      color: map_get($grey, medium);
    }
    a:not(:last-child) {
      margin-bottom: 23px;
    }
    b {
      color: map_get($grey, extra);
    }
    input {
      margin-top: 24px;
    }
    p + h4 {
      margin-top: 16px;
    }
    &__title {
      margin-bottom: 25px;
    }
    &:not(.padding-box) h4 {
      margin-bottom: 15px;
      @media (min-width: 1250px) {
        padding: 0 28px;
      }
    }
    .single-tile {
      min-height: 235px;
    }
    .single-tile__block:not(:last-of-type) {
      display: block;
      margin-bottom: 15px;
    }
  }
}
