.single-product {
  &__section {
    padding: 100px 0 40px;
    @media (min-width: 640px) {
      padding: 140px 0 85px;
    }
    @media (min-width: 1024px) {
      padding: 210px 0 85px;
    }
    .btn {
      margin-bottom: 30px;
      @media (min-width: 768px) {
        margin-bottom: 50px;
      }
    }
  }
  &__title {
    br {
      @media (max-width: 1025px) {
        display: none;
      }
    }
  }
  &__slider {
    margin-bottom: 10px;
    &__content {
      background: $white;
      min-height: 250px;
      max-height: 250px;
      @extend .flex-container;
      @extend .align-center-middle;
      @media (min-width: 640px) {
        min-height: 350px;
        max-height: 350px;
      }
      @media (min-width: 1024px) {
        min-height: 479px;
      }
      img {
        max-height: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__thumbs {
      height: 88px;
      background: $white;
      padding: 9px 6px;
      position: relative;
      z-index: 1;
      cursor: pointer;
      @extend .flex-container;
      @extend .align-center-middle;
      img {
        height: 100%;
        object-fit: contain;
      }
      &.swiper-slide-thumb-active:after {
        content: "";
        background: rgba(255, 255, 255, 0.75);
        z-index: 1;
        @extend .absolute-fill;
      }
    }
  }
  &__description {
    padding: 25px 0 0;
    @media (min-width: 1024px) {
      max-width: 479px;
    }
  }
  &__title {
    margin-bottom: 15px;
  }
  &__sku {
    font-weight: 500;
    margin-bottom: 9px;
  }
  &__colors {
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-bottom: 50px;
    }
  }
}
.product-related {
  padding: 90px 0;
  @media (min-width: 640px) {
    padding: 60px 0;
  }
  &__description {
    margin: 15px auto 0;
    @media (min-width: 1024px) {
      max-width: 577px;
    }
  }
  &__container {
    margin-bottom: 20px;
  }
  &__img {
    display: flex;
    overflow: hidden;
    height: 200px;
    @extend .align-center-middle;
    @media (min-width: 640px) {
      height: 250px;
    }
    @media (min-width: 1024px) {
      height: 303px;
    }
    img {
      transform: scale(1);
      transition: 0.2s;
      @media (max-width: 1025px) {
        max-height: 100%;
        object-fit: contain;
        padding: 9px;
      }
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    @extend h4;
  }
  &__content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(0);
    opacity: 1;
    transition: 0.2s;
    @extend p;
    @media (min-width: 1024px) {
      max-width: 275px;
    }
  }
  &__block {
    height: 100%;
  }
  @media (min-width: 1024px) {
    .swiper-slide-active,
    .swiper-slide-duplicate-prev {
      .product-related__img {
        overflow: visible;
        position: relative;
        &:before,
        &:after {
          @media (min-width: 1024px) {
            content: "";
          }
          display: block;
          position: absolute;
          width: 100%;
          top: 0;
          bottom: 0;
          pointer-events: none;
          z-index: 10;
        }
      }
      .product-related__title {
        font-size: 18px;
        opacity: 0.5;
        margin-top: 22px;
      }
      .product-related__content {
        transform: translateY(-15px);
        opacity: 0;
      }
    }
    .swiper-slide-duplicate-prev {
      svg:last-child {
        stroke: map_get($grey, extra);
        bottom: 1px;
        position: relative;
        margin-left: 8px;
      }
      .product-related__img:after {
        background-image: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0.47) 52%, rgba(255, 255, 255, 0) 100%);
      }
    }
    .swiper-slide-active {
      svg:first-child {
        stroke: map_get($grey, extra);
        transform: translate(-10px, -1px) rotate(180deg);
        bottom: 1px;
        position: relative;
      }
      .product-related__img:before {
        background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.47) 52%, #fff 100%);
      }
    }
  }
  @media (max-width: 1025px) and (min-width: 576px) {
    .swiper-slide-prev,
    .swiper-slide-next {
      .product-related__img {
        overflow: visible;
        position: relative;
        &:before,
        &:after {
          @media (min-width: 1024px) {
            content: "";
          }
          display: block;
          position: absolute;
          width: 100%;
          top: 0;
          bottom: 0;
          pointer-events: none;
          z-index: 10;
        }
      }
      .product-related__title {
        font-size: 18px;
        opacity: 0.5;
        margin-top: 22px;
      }
      .product-related__content {
        transform: translateY(-15px);
        opacity: 0;
      }
    }
    .swiper-slide-next {
      svg:last-child {
        stroke: map_get($grey, extra);
        bottom: 1px;
        position: relative;
        margin-left: 8px;
      }
      .product-related__img:after {
        background-image: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0.47) 52%, rgba(255, 255, 255, 0) 100%);
      }
    }
    .swiper-slide-prev {
      svg:first-child {
        stroke: map_get($grey, extra);
        transform: translate(-10px, -1px) rotate(180deg);
        bottom: 1px;
        position: relative;
      }
      .product-related__img:before {
        background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.47) 52%, #fff 100%);
      }
    }
  }
  &__block:hover {
    img {
      transform: scale(1.05);
    }
  }
}
.color-box {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}
