.log-in-form {
  max-width: 379px;
  padding: 79px 0 59px;
  margin: 0 auto;
  @media (max-width: 641px) {
    min-height: calc(100vh - 216px);
  }
  * {
    font-size: 16px;
  }
  .btn {
    cursor: pointer;
    padding: 11px 26px 11px 40px;
    margin: 21px auto;
  }
  &__error {
    display: none;
    p {
      color: #f54243;
      font-size: 14px;
      padding-left: 9px;
    }
  }
  &.invalid {
    .log-in-form__error {
      display: flex;
    }
  }
}
