<section class="bg-primary subscribe">
  <div class="row">
    <div class="column small-12 text-center subscribe__title">
      <h2 class="text-white">Stay up to date with Atlantic</h2>
    </div>
    <div class="column small-12">
      <form action="#" class="flex-container align-center-middle flex-dir-column medium-flex-dir-row">
        <input type="email"
               class="subscribe__input height-100 border-none"
               placeholder="Your email">
        <button class="btn reverse btn-white-outline subscribe__submit text-nowrap">Subscribe</button>
      </form>
    </div>
  </div>
</section>
