.image-block {
  &__text {
    padding: 50px 15px;
    position: relative;
    z-index: 1;
    @media (min-width: 640px) {
      padding: 70px 15px 46px;
    }
    @media (min-width: 640px) and (max-width: 1025px) {
      max-width: 818px;
    }
    @media (min-width: 1024px) {
      width: 46%;
      background-clip: content-box;
      padding: 70px 0 46px;
    }
    br {
      display: none;
      @media (min-width: 1024px) {
        display: inline;
      }
    }
    p {
      margin-bottom: 7px;
      @media (min-width: 1024px) {
        max-width: 447px;
      }
    }
    &.text-white {
      * {
        color: inherit;
      }
      .btn {
        @extend .btn-white;
      }
    }
    &.text-grey-medium {
      .image-block__title {
        color: map_get($grey, extra);
      }
      p {
        color: inherit;
      }
      .btn {
        @extend .btn-grey;
      }
    }
    &__content {
      width: 100%;
      @media (min-width: 1024px) {
        padding: 100px 15px;
        max-width: 544px;
        margin-left: auto;
        min-height: 368px;
        &.narrow {
          padding: 56px 15px 60px;
        }
      }
      a {
        font-size: 16px;
      }
    }
  }
  &__img {
    max-width: 818px;
    width: 100%;
    align-self: flex-end;
    min-height: 240px;
    background-size: cover;
    background-position: center center;
    @media (min-width: 640px) {
      min-height: 400px;
    }
    @media (min-width: 1024px) {
      margin-left: -40px;
      width: 58%;
      max-width: none;
      align-self: auto;
    }
  }
  &__subtitle {
    color: map_get($grey, medium) !important;
    font-size: 16px;
    font-weight: 500;
  }
  &__title {
    text-transform: uppercase;
  }
  & + .cta__section {
    margin-top: -46px;
    padding-top: 40px;
  }
}
.header + .image-block {
  margin-top: 50px;
  @media (max-width: 1023px) {
    flex-direction: column;
    .image-block__img,
    .image-block__text {
      max-width: none;
    }
  }
  .image-block__title:only-child {
    margin-top: 45px;
  }
  .image-block__img {
    @media (min-width: 1024px) {
      margin-left: 0;
      width: 56%;
    }
  }
}
