.prefooter-links {
  padding-bottom: 60px;
  &__separator {
    padding-top: 30px;
    border-top: 4px solid map_get($grey, light);
    @media (min-width: 640px) {
      padding-top: 60px;
    }
  }
  &__link--left {
    @media (max-width: 641px) {
      margin-bottom: 20px;
      display: block;
    }
    svg {
      transform: rotate(180deg);
      margin-right: 15px;
      transition: margin-right 0.2s;
      overflow: visible;
    }
    .svg-anim {
      margin-left: -1px;
      transition: 0.2s transform;
    }
    &:hover {
      svg {
        margin-right: 30px;
      }
      .svg-anim {
        transform: translateX(-20px);
      }
    }
  }
}
