.single-tile {
  display: block;
  padding: 30px 20px;
  min-height: 250px;
  height: 100%;
  cursor: pointer;
  transition: 0.4s;
  z-index: 1;
  &:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.45);
    z-index: -1;
    @extend .absolute-fill;
  }
  @media (min-width: 640px) {
    padding: 40px 30px;
    margin-bottom: 30px;
  }
  &:hover {
    svg {
      margin-left: 35px;
    }
    .svg-anim {
      transform: translateX(-20px);
    }
    .single-tile__img {
      transform: scale(1.1);
    }
  }
  span {
    display: block;
  }
  &__subtitle {
    font-size: 16px;
    color: $white !important;
    @extend p;
  }
  &__title {
    color: $white;
    margin-bottom: 13px;
  }
  &__block {
    margin-bottom: 15px;
    @media (min-width: 640px) {
      margin-bottom: 30px;
    }
  }
  &__img {
    transform: scale(1);
    z-index: -1;
    transition: 0.4s;
  }
  .btn {
    font-size: 16px;
  }
}
