.subscribe {
  padding: 40px 0;
  @media (min-width: 640px) {
    padding: 81px 0 86px;
  }
  &__title {
    margin-bottom: 21px;
  }
  &__input {
    background: rgba(216, 216, 216, 0.2);
    padding: 14px 17px;
    margin-bottom: 15px;
    color: $white;
    transition: 0.2s;
    @media (min-width: 640px) {
      max-width: 501px;
      padding: 14px 30px 17px;
      margin-bottom: 0;
    }
    &::placeholder {
      color: $white;
    }
    &:focus {
      background: rgba(216, 216, 216, 0.4);
    }
  }
  &__submit {
    font-size: 21px;
    padding: 14px 26px 14px 30px;
  }
}
