/**
 * ============
 * Typography
 * ============
 * Define as much reusable typography here
 * such as `.text-hero`, which can be `@extend`-ed from other scss files
 * This way, this file become a master list of typography used throughout the site
 */
body {
  font-family: $body-font-family;
  font-size: 18px;
  @media (min-width: 640px) {
    font-size: 21px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  @extend .text-uppercase;
}
h1 {
  line-height: 44px;
  @media (min-width: 640px) {
    line-height: 70px;
  }
}
h2 {
  line-height: 44px;
  @media (min-width: 640px) {
    line-height: 55px;
  }
}
h3 {
  line-height: 31px;
  @media (min-width: 640px) {
    line-height: 42px;
  }
}
h4 {
  font-family: $body-font-family;
  font-weight: 400;
}
h5 {
  font-family: $body-font-family;
  font-weight: 500;
}
