.footer {
  //box-shadow: 0 -2px 4px #f6f6f6;
  * {
    font-size: 16px;
  }
  &__top {
    padding: 50px 0;
    .column {
      @media (max-width: 1023px) {
        margin-bottom: 20px;
      }
    }
  }
  &__bottom {
    font-size: 14px;
    padding: 12px 0;
    * {
      margin-bottom: 0;
      color: inherit;
    }
    span {
      margin: 0 16px;
      @media (max-width: 639px) {
        display: none;
      }
    }
    @media (max-width: 1023px) {
      flex-wrap: wrap;
      p {
        order: 1;
        width: 100%;
        text-align: center;
        margin-top: 12px;
        & + span {
          display: none;
        }
      }
    }
    @media (min-width: 640px) {
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 639px) {
      flex-direction: column;
      padding: 12px 15px;
      a {
        margin-bottom: 12px;
      }
    }
  }
  &__links {
    a {
      color: map_get($grey, medium);
      fill: map_get($grey, medium);
      transition: $transition;
      margin-bottom: 14px;
      @extend .flex-align-center;
      &:hover {
        color: $secondary;
        fill: $secondary;
      }
    }
    &.column {
      @media (min-width: 1024px) {
        padding-top: 50px;
      }
    }
    &.column-prop {
      @media (min-width: 640px) {
        column-count: 2;
        column-gap: 24px;
      }
    }
  }
  &__inner {
    @media (min-width: 1024px) {
      margin: 0 16px;
      padding: 50px 40px 0;
      height: 100%;
      border-right: 1px solid map_get($grey, light);
      border-left: 1px solid map_get($grey, light);
      justify-content: space-between;
    }
    &__col {
      @media (max-width: 1023px) {
        width: 50%;
        &:last-child {
          padding-left: 65px;
        }
      }
      @media (max-width: 639px) {
        &:last-child {
          padding-left: 15px;
        }
      }
      & > a {
        display: block;
        margin-bottom: 12px;
        @extend .fw-bold;
        @extend .text-primary;
      }
    }
  }
}
