.footer {
  * {
    font-size: 16px;
  }
  &__logo {
    @media (max-width: 639px) {
      display: block;
      margin: 0 auto;
    }
  }
  &__top {
    padding: 50px 0;
    @media (max-width: 639px) {
      margin-bottom: -55px;
    }
    .column {
      @media (max-width: 1023px) {
        margin-bottom: 50px;
      }
    }
  }
  &__bottom {
    font-size: 14px;
    padding: 12px 15px;
    * {
      margin-bottom: 0;
      color: inherit;
    }
    p {
      display: initial;
    }
    span {
      margin: 0 16px;
    }
    @media (max-width: 639px) {
      padding: 12px 15px;
      max-width: 375px;
      margin: 0 auto;
      a {
        margin-bottom: 12px;
        white-space: nowrap;
      }
      .d-none-on-xs {
        display: none;
      }
    }
  }
  &__links {
    a {
      color: map_get($grey, medium);
      fill: map_get($grey, medium);
      transition: $transition;
      margin-bottom: 14px;
      @extend .flex-align-center;
      &:hover {
        color: $secondary;
        fill: $secondary;
      }
      &:last-child {
        @media (max-width: 639px) {
          margin-bottom: 0;
        }
      }
    }
    span {
      word-wrap: break-word;
      width: calc(100% - 28px);
    }
    &.column {
      @media (min-width: 1024px) {
        padding-top: 50px;
      }
    }
    &.column-prop {
      @media (min-width: 640px) {
        column-count: 2;
        column-gap: 24px;
      }
    }
  }
  &__inner {
    @media (min-width: 1024px) {
      margin: 0 16px;
      padding: 50px 40px 0;
      height: 100%;
      border-right: 1px solid map_get($grey, light);
      border-left: 1px solid map_get($grey, light);
      justify-content: space-between;
    }
    &__col {
      @media (max-width: 1023px) {
        width: 50%;
        &:last-child {
          padding-left: 65px;
        }
      }
      @media (max-width: 639px) {
        &:last-child {
          padding-left: 15px;
        }
      }
      & > a {
        display: block;
        margin-bottom: 12px;
        @extend .fw-bold;
        @extend .text-primary;
      }
    }
  }
}
