.text-primary {
  color: $primary;
}
.text-white {
  color: $white;
}
.text-grey-extra {
  color: map_get($grey, extra);
}
.text-grey-medium {
  color: map_get($grey, medium);
}
.bg-primary {
  background-color: $primary;
}
.bg-grey-extra {
  background-color: map_get($grey, extra);
}
.bg-grey-light {
  background-color: map_get($grey, light);
}
.fw-bold {
  font-weight: 700;
}
.font-Montserrat {
  font-family: "Montserrat", sans-serif;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.padding-box {
  padding: 24px 20px 44px;
  @media (min-width: 1024px) {
    padding: 28px 30px 44px;
  }
}
.fz-1rem {
  font-size: 1rem;
  p + p {
    margin-top: -6px;
  }
}
.tt-none {
  text-transform: none !important;
}
