//Settings
$global-button-cursor: pointer;

// Grid
$global-width: 1250px;

// Colours
$primary: #174194;
$secondary: #5c86da;
$white: #fff;

$foundation-palette: (
  primary: $primary,
  secondary: $secondary,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$grey: (
  extra: #292929,
  medium: #919191,
  light: #f6f6f6,
  white: #fff,
);
$anchor-color-hover: $secondary;

// Type
$header-styles: (
  small: (
    "h1": ("font-size": 40),
    "h2": ("font-size": 30),
    "h3": ("font-size": 25),
    "h4": ("font-size": 18),
    "h5": ("font-size": 16),
  ),
  medium: (
    "h1": ("font-size": 60),
    "h2": ("font-size": 45),
    "h3": ("font-size": 35),
    "h4": ("font-size": 21),
    "h5": ("font-size": 16),
  ),
);
$header-font-family: "Montserrat", sans-serif;
$header-font-weight: 800;
$body-font-family: "Roboto", sans-serif;

// Animations
$transition: 0.2s;

//Accordion Config
$accordion-plusminus: false;
$accordion-title-font-size: 16px;
$accordion-item-color: map_get($grey, medium);
$accordion-item-background-hover: $white;
$accordion-item-padding: 11px 0;
$accordion-content-border: none;
$accordion-content-color: map_get($grey, medium);
$accordion-content-padding: 16px 0 6px;

//Forms Config
$input-border: 1px solid map_get($grey, medium);
$input-border-focus: 1px solid map_get($grey, extra);
$input-padding: 0.5rem 1rem;

//Pagination
$pagination-font-size: 1rem;
$pagination-item-color: inherit;
$pagination-item-color-current: map_get($grey, extra);
$pagination-item-background-current: none;
$pagination-item-background-hover: map_get($grey, light);
$pagination-item-spacing: 0;
$pagination-margin-bottom: 45px;

//Card
$card-border: 4px solid map_get($grey, light);
$card-padding: 30px 26px 29px;
$card-margin-bottom: 30px;

//Tooltips
$tooltip-background-color: $white;
$tooltip-color: map_get($grey, medium);
$tooltip-padding: 7px 20px;
$tooltip-font-size: 16px;
$has-tip-border-bottom: none;
