<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
  {{> ../common/header}}
  {{> ../partials/image-block}}

  {{> ../partials/pagination}}
  {{> ../partials/cta}}
  {{> ../common/footer}}
</body>
</html>
