<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="individual-product">
  {{> ../common/header}}
  <section class="bg-grey-light single-product__section">
    <div class="row">
      <div class="column small-12 medium-6">
        <div class="swiper-container single-product__slider">
          <div class="swiper-wrapper">
            {{#each product-img}}
            <div class="swiper-slide">
              <div class="single-product__slider__content">
                <img src="{{img}}" alt="#">
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="swiper-container single-product__thumbs">
          <div class="swiper-wrapper">
            {{#each product-img}}
              <div class="swiper-slide single-product__slider__thumbs">
                <img src="{{img}}" alt="#">
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="column small-12 medium-6">
        <div class="single-product__description">
          <p class="single-product__sku text-uppercase text-grey-medium fz-1rem">SKU: 5236922-2</p>
          <h3 class="single-product__title">S-leaf spring <br> suspension</h3>
          <p class="fz-1rem text-grey-medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam id leo in vitae turpis massa.
          </p>
          <h5 class="text-grey-extra fw-bold tt-none">Color options</h5>
          <div class="flex-container single-product__colors">
            <span class="color-box bottom"
                  style="background-color: #174194"
                  data-tooltip
                  tabindex="1"
                  title="Deep Blue"></span>
            <span class="color-box bottom"
                  style="background-color: #919191"
                  data-tooltip
                  tabindex="2"
                  title="Grey"></span>
            <span class="color-box bottom"
                  style="background-color: #292929"
                  data-tooltip
                  tabindex="2"
                  title="Dark Grey"></span>
            <span class="color-box bordered bottom"
                  style="background-color: #fff"
                  data-tooltip
                  tabindex="2"
                  title="White"></span>
          </div>
          <a href="#" class="btn btn-grey-outline fw-bold">Enquire today</a>
          <ul class="products accordion"
              data-accordion
              data-multi-expand="true"
              data-allow-all-closed="true">
              <li class="accordion-item is-active" data-accordion-item>
                <a href="#" class="accordion-title text-uppercase fw-bold"><span>Dimensions</span></a>
                <div class="accordion-content fz-1rem" data-tab-content>
                  <p class="text-grey-extra">
                    Width: <span class="text-grey-medium">1-3/4"</span> <br>
                    Gauge: <span class="text-grey-medium">7/32"</span> <br>
                    No. Leaves: <span class="text-grey-medium">6</span> <br>
                    Inter-leaving: <span class="text-grey-medium">(none)</span>
                  </p>
                </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title text-uppercase fw-bold"><span>Specifications</span></a>
                <div class="accordion-content fz-1rem" data-tab-content>
                  <p class="text-grey-extra">
                    Width: <span class="text-grey-medium">1-3/4"</span> <br>
                    Gauge: <span class="text-grey-medium">7/32"</span> <br>
                    No. Leaves: <span class="text-grey-medium">6</span> <br>
                    Inter-leaving: <span class="text-grey-medium">(none)</span>
                  </p>
                </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title text-uppercase fw-bold"><span>PDF Downloads</span></a>
                <div class="accordion-content fz-1rem" data-tab-content>
                  <a href="#" class="btn btn-primary">Download PDF</a>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="product-related__section">
    <div class="row column text-center">
      <h3>Related customisation options</h3>
      <p class="text-grey-medium product-related__description">As with all our caravans there is extensive scope to customise
        and tailor your van to cater to your family’s needs.</p>
    </div>
    <div class="flex-container product-related__container">
      <div class="column large-3 align-self-middle hide-from-medium">
        <a href="#" class="product-related__left text-center">
          <span class="product-related__img">
            <img src="images/parts/043268_11791.jpg" alt="#">
          </span>
          <span class="product-related__title font-Montserrat text-grey-extra"><svg width="22px" height="16px" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg"><g stroke="inherit" stroke-width="1" fill="none" stroke-linecap="round"><g transform="translate(1.000000, 1.000000)" stroke="inherit" stroke-width="2"><polyline points="12.4124355 0 19.2060059 6.79357043 12.4124355 13.5871409"></polyline><line x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line><line class="svg-anim" x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line></g></g></svg>External speakers</span>
        </a>
      </div>
      <div class="column small-12 medium-6 large-3">
        <a href="#" class="product-related__block text-center">
          <span class="product-related__img">
            <img src="images/parts/ssa45-5-396x370.jpg" alt="#">
          </span>
          <span class="product-related__title font-Montserrat text-grey-extra">S leaf spring <br> suspension</span>
          <span class="product-related__content fz-1rem text-grey-medium"> Ut enim ad minim veniam, quis nostrudexercitation ullamco laboris.</span>
        </a>
      </div>
      <div class="column small-12 medium-6 large-3">
        <a href="#" class="product-related__block text-center">
          <span class="product-related__img">
            <img src="images/parts/53_00_dometic_skl101_9600006441_55300_11.jpg" alt="#">
          </span>
          <span class="product-related__title font-Montserrat text-grey-extra">Slide out <br> alfresco kitchen</span>
          <span class="product-related__content fz-1rem text-grey-medium"> Ut enim ad minim veniam, quis nostrudexercitation ullamco laboris.</span>
        </a>
      </div>
      <div class="column large-3 align-self-middle hide-from-medium">
        <a href="#" class="product-related__right text-center">
          <span class="product-related__img">
            <img src="images/parts/tv.jpg" alt="#">
          </span>
          <span class="product-related__title font-Montserrat text-grey-extra">External TV <svg class="" width="22px" height="16px" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg"><g stroke="inherit" stroke-width="1" fill="none" stroke-linecap="round"><g transform="translate(1.000000, 1.000000)" stroke="inherit" stroke-width="2"><polyline points="12.4124355 0 19.2060059 6.79357043 12.4124355 13.5871409"></polyline><line x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line><line class="svg-anim" x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line></g></g></svg></span>
        </a>
      </div>
    </div>
    <div class="row column text-center">
      <a href="#" class="btn btn-primary">View all available options</a>
    </div>
  </section>
  {{> ../partials/cta}}
  {{> ../common/footer}}
</body>
</html>
