<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="individual-model">
  {{> ../common/header}}
  <section class="individual-modal__hero" style="background-image: url('images/pictures/van-on-the-mountain-road.jpg')">
    <div class="row column text-white text-center">
      <div class="individual-modal__hero__container">
        <h4>Anniversary range</h4>
        <h1>Endeavour</h1>
        <h4 class="fw-bold individual-modal__hero__subtitle">escape to your oasis</h4>
      </div>
    </div>
  </section>
  <section class="overflow-hidden review-block">
    <div class="row flex-dir-column-reverse large-flex-dir-row">
      <div class="review-block__text tiny">
        <h2 class="text-grey-extra review-block__text__title">
          Perfect for families and couples
        </h2>
        <div  class="text-grey-medium">
          <p>
            The Endeavour is the swiss army knife of the caravan world and can be customised to suit just about any requirement.          </p>
        </div>
        <div class="text-primary">
          <div class="row">
            <div class="column small-12 medium-4 large-6">
              <div class="flex-container align-middle review-block__features">
                <div class="review-block__features__img">
                  <img src="images/symbols/windmill.svg" alt="#">
                </div>
                <p>Air conditioner</p>
              </div>
            </div>
            <div class="column small-12 medium-4 large-6">
              <div class="flex-container align-middle review-block__features">
                <div class="review-block__features__img">
                <img src="images/symbols/bed.svg" alt="#">
                </div>
                <p>Queen bed</p>
              </div>
            </div>
            <div class="column small-12 medium-4 large-6">
              <div class="flex-container align-middle review-block__features">
                <div class="review-block__features__img">
                  <img src="images/symbols/stove.svg" alt="#">
                </div>
                <p>Fan forced oven</p>
              </div>
            </div>
            <div class="column small-12 medium-4 large-6">
              <div class="flex-container align-middle review-block__features">
                <div class="review-block__features__img">
                  <img src="images/symbols/box.svg" alt="#">
                </div>
                  <p>Fan forced oven</p>
              </div>
            </div>
            <div class="column small-12 medium-4 large-6">
              <div class="flex-container align-middle review-block__features">
                <div class="review-block__features__img">
                  <img src="images/symbols/microwave.svg" alt="#">
                </div>
                <p>Microwave</p>
              </div>
            </div>
            <div class="column small-12 medium-4 large-6">
              <div class="flex-container align-middle review-block__features">
                <div class="review-block__features__img">
                  <img src="images/symbols/tv.svg" alt="#">
                </div>
                <p>Flatscreen tv</p>
              </div>
            </div>
            <div class="column small-12 medium-4 large-6">
              <div class="flex-container align-middle review-block__features">
                <div class="review-block__features__img">
                  <img src="images/symbols/bath.svg" alt="#">
                </div>
                <p>Shower</p>
              </div>
            </div>
            <div class="column small-12 medium-4 large-6">
              <div class="flex-container align-middle review-block__features">
                <div class="review-block__features__img">
                  <img src="images/symbols/roof.svg" alt="#">
                </div>
                <p>Rollout awning</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="review-block__img base-on-right position-relative" style="background-image: url('images/pictures/photo-1513311068348-19c8fbdc0bb6.jpg')">

      </div>
    </div>
  </section>

  <section class="swiper-container model-gallery">
    <div class="swiper-wrapper">
        <div class="swiper-slide model-gallery__slide">
          <div class="position-relative">
            <img src="images/pictures/Atlantic_HT_19_int_3a.jpg" alt="#" class="model-gallery__img">
            <a href="images/pictures/Atlantic_HT_19_int_3a.jpg"
               data-lightbox="Atlantic_HT_19"
               data-title="Title for Atlantic_HT_19">
              <img src="images/symbols/lighbox-btn.svg" alt="#">
            </a>
          </div>
        </div>
      <div class="swiper-slide model-gallery__slide">
        <div class="position-relative">
          <img src="images/pictures/photo-1508045214681-31012927cc98.jpg" alt="#" class="model-gallery__img">
          <a href="images/pictures/photo-1508045214681-31012927cc98.jpg"
             data-lightbox="Atlantic_HT_19"
             data-title="Title for Atlantic_HT_19">
            <img src="images/symbols/lighbox-btn.svg" alt="#">
          </a>
        </div>
      </div>
      <div class="swiper-slide model-gallery__slide">
        <div class="position-relative">
          <img src="images/pictures/Atlantic_NG_21_int_1.jpg" alt="#" class="model-gallery__img">
          <a href="images/pictures/Atlantic_NG_21_int_1.jpg"
             data-lightbox="Atlantic_HT_19"
             data-title="Title for Atlantic_HT_19">
            <img src="images/symbols/lighbox-btn.svg" alt="#">
          </a>
        </div>
      </div>
    </div>
    <div class="row expanded align-justify model-gallery__arrow__container">
        <button class="model-gallery__arrow--left">
          <svg width="30px" height="21px" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(180deg)"><g stroke="inherit" stroke-width="1" fill="none" stroke-linecap="round"><g transform="translate(1.000000, 1.000000)" stroke="inherit" stroke-width="2"><polyline points="12.4124355 0 19.2060059 6.79357043 12.4124355 13.5871409"></polyline><line x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line><line class="svg-anim" x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line></g></g></svg>
        </button>
        <button class="model-gallery__arrow--right">
          <svg width="30px" height="21px" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg"><g stroke="inherit" stroke-width="1" fill="none" stroke-linecap="round"><g transform="translate(1.000000, 1.000000)" stroke="inherit" stroke-width="2"><polyline points="12.4124355 0 19.2060059 6.79357043 12.4124355 13.5871409"></polyline><line x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line><line class="svg-anim" x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line></g></g></svg>
        </button>
    </div>
    <div class="swiper-pagination home-products__pagination model-gallery__pagination"></div>
  </section>

  <section class="overflow-hidden review-block">
    <div class="row flex-dir-column large-flex-dir-row">
      <div class="review-block__img position-relative overlay-grey-extra" style="background-image: url('images/pictures/couple-with-dog.jpg')">

      </div>
      <div class="review-block__text narrow">
        <h3 class="text-grey-extra">
          Exceptional <br> value for money
        </h3>
        <div  class="text-grey-medium">
          <p>
            Featuring our signature contemporary modular furniture and cabinetry, the Endeavour's spacious interior is the perfect place to relax and unwind.
          </p>
          <p>
            Packed with features and upgrades usually reserved for premium priced vans such as a front load washing machine, 24" LCD TV, reverse cycle air conditioning and a 150w solar panel & 100 amp deep cycle battery.
          </p>
          <p>
            We haven't forgotten about the exterior either with the robust 4" chassis, 15" alloy wheels with all terrain tyres, external picnic table and rollout awning all included on the base model.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="specification flex-container">
    <div class="specification__body bg-grey-extra">
      <div class="specification__content text-white">
        <h3>Specifications and floor plans</h3>
        <p class="specification__content__description">
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <div class="">
          <ul class="tabs tab border-none dark-mode flex-container align-bottom" data-tabs id="example-tabs">
            <li class="tabs-title specification-tab__title is-active"><a href="#panel1" aria-selected="true">1901-1 RD</a></li>
            <li class="tabs-title specification-tab__title"><a data-tabs-target="panel2" href="#panel2">1901-1 RD</a></li>
            <li class="tabs-title specification-tab__title"><a data-tabs-target="panel3" href="#panel3">200-1F MD</a></li>
            <li class="tabs-title specification-tab__title"><a data-tabs-target="panel4" href="#panel4">200-1F MD</a></li>
            <li class="tabs-title specification-tab__title"><a data-tabs-target="panel5" href="#panel5">206-1S RD</a></li>
            <li class="tabs-title specification-tab__title"><a data-tabs-target="panel6" href="#panel6">206-1S RD</a></li>
          </ul>
          <div class="tabs-content border-none dark-mode" data-tabs-content="example-tabs">
            <!--          Tab Content #1  -->
            <div class="tabs-panel is-active padding-box text-white" id="panel1">
              <div class="row align-middle collapse">
                <div class="column small-12 medium-6">
                  <ul class="fz-1rem">
                    <li>4” Roadrunner© A-frame & chassis w/ Hammertone finish</li>
                    <li>Jockey Wheel</li>
                    <li>Dexter© Torflex suspension on all single action models w/ 12” brakes</li>
                    <li>Leaf spring beam axle suspension w/ 10” brakes</li>
                    <li>Duragal© chassis w/ Hammertone finish</li>
                    <li>2x 9kg rubber coated gas cradles</li>
                    <li>Fold out aluminium step light w/ LED light</li>
                    <li>Steel mesh firewood box</li>
                  </ul>
                </div>
                <div class="column small-12 medium-6">
                  <div class="position-relative">
                    <img src="images/products/END-196-1-RD-2.png" alt="#">
                    <a href="images/products/END-196-1-RD-2-968x478.png"
                       class="lightbox__btn"
                       data-lightbox="END-196-1-RD-2"
                       data-title="Title for END-196-1-RD-2">
                      <img src="images/symbols/lighbox-btn.svg" alt="#">
                    </a>
                  </div>
                </div>
                <div class="column small-12">
                  <a href="#" class="btn btn-white fz-1rem fw-bold">Download the brochure for all specifications</a>
                </div>
              </div>
            </div>
            <!--          Tab Content #2  -->
            <div class="tabs-panel padding-box" id="panel2">
              <div class="row align-middle collapse">
                <div class="column small-12 medium-6">
                  <p>Tab Content fot #2 panel</p>
                </div>
                <div class="column small-12 medium-6">
                  <div class="position-relative">
                    <img src="images/products/END-196-1-RD-2.png" alt="#">
                    <a href="images/products/END-196-1-RD-2-968x478.png"
                       class="lightbox__btn"
                       data-lightbox="END-196-1-RD-2"
                       data-title="Title for END-196-1-RD-2">
                      <img src="images/symbols/lighbox-btn.svg" alt="#">
                    </a>
                  </div>
                </div>
                <div class="column small-12">
                  <a href="#" class="btn btn-white fz-1rem fw-bold">Download the brochure for all specifications</a>
                </div>
              </div>
            </div>
            <div class="tabs-panel padding-box" id="panel3">
              <div class="row align-middle collapse">
                <div class="column small-12 medium-6">
                  <p>Tab Content fot #3 panel</p>
                </div>
                <div class="column small-12 medium-6">
                  <div class="position-relative">
                    <img src="images/products/END-196-1-RD-2.png" alt="#">
                    <a href="images/products/END-196-1-RD-2-968x478.png"
                       class="lightbox__btn"
                       data-lightbox="END-196-1-RD-2"
                       data-title="Title for END-196-1-RD-2">
                      <img src="images/symbols/lighbox-btn.svg" alt="#">
                    </a>
                  </div>
                </div>
                <div class="column small-12">
                  <a href="#" class="btn btn-white fz-1rem fw-bold">Download the brochure for all specifications</a>
                </div>
              </div>
            </div>
            <div class="tabs-panel padding-box" id="panel4">
              <div class="row align-middle collapse">
                <div class="column small-12 medium-6">
                  <p>Tab Content fot #4 panel</p>
                </div>
                <div class="column small-12 medium-6">
                  <div class="position-relative">
                    <img src="images/products/END-196-1-RD-2.png" alt="#">
                    <a href="images/products/END-196-1-RD-2-968x478.png"
                       class="lightbox__btn"
                       data-lightbox="END-196-1-RD-2"
                       data-title="Title for END-196-1-RD-2">
                      <img src="images/symbols/lighbox-btn.svg" alt="#">
                    </a>
                  </div>
                </div>
                <div class="column small-12">
                  <a href="#" class="btn btn-white fz-1rem fw-bold">Download the brochure for all specifications</a>
                </div>
              </div>
            </div>
            <div class="tabs-panel padding-box" id="panel5">
              <div class="row align-middle collapse">
                <div class="column small-12 medium-6">
                  <p>Tab Content fot #5 panel</p>
                </div>
                <div class="column small-12 medium-6">
                  <div class="position-relative">
                    <img src="images/products/END-196-1-RD-2.png" alt="#">
                    <a href="images/products/END-196-1-RD-2-968x478.png"
                       class="lightbox__btn"
                       data-lightbox="END-196-1-RD-2"
                       data-title="Title for END-196-1-RD-2">
                      <img src="images/symbols/lighbox-btn.svg" alt="#">
                    </a>
                  </div>
                </div>
                <div class="column small-12">
                  <a href="#" class="btn btn-white fz-1rem fw-bold">Download the brochure for all specifications</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="specification__img" style="background-image: url('images/pictures/photo-1508045214681-31012927cc98.jpg')"></div>
  </section>
  <section class="product-related__section">
    <div class="row column text-center">
      <h3>Upgrade your endeavour</h3>
      <p class="text-grey-medium product-related__description">As with all our caravans there is extensive scope to customise
        and tailor your van to cater to your family’s needs.</p>
    </div>
    <div class="flex-container product-related__container">
      <div class="column large-3 align-self-middle hide-from-medium">
        <a href="#" class="product-related__left text-center">
            <span class="product-related__img">
              <img src="images/parts/043268_11791.jpg" alt="#">
            </span>
          <span class="product-related__title font-Montserrat text-grey-extra"><svg width="22px" height="16px" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg"><g stroke="inherit" stroke-width="1" fill="none" stroke-linecap="round"><g transform="translate(1.000000, 1.000000)" stroke="inherit" stroke-width="2"><polyline points="12.4124355 0 19.2060059 6.79357043 12.4124355 13.5871409"></polyline><line x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line><line class="svg-anim" x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line></g></g></svg>External speakers</span>
        </a>
      </div>
      <div class="column small-12 medium-6 large-3">
        <a href="#" class="product-related__block text-center">
            <span class="product-related__img">
              <img src="images/parts/ssa45-5-396x370.jpg" alt="#">
            </span>
          <span class="product-related__title font-Montserrat text-grey-extra">S leaf spring <br> suspension</span>
          <span class="product-related__content fz-1rem text-grey-medium"> Ut enim ad minim veniam, quis nostrudexercitation ullamco laboris.</span>
        </a>
      </div>
      <div class="column small-12 medium-6 large-3">
        <a href="#" class="product-related__block text-center">
            <span class="product-related__img">
              <img src="images/parts/53_00_dometic_skl101_9600006441_55300_11.jpg" alt="#">
            </span>
          <span class="product-related__title font-Montserrat text-grey-extra">Slide out <br> alfresco kitchen</span>
          <span class="product-related__content fz-1rem text-grey-medium"> Ut enim ad minim veniam, quis nostrudexercitation ullamco laboris.</span>
        </a>
      </div>
      <div class="column large-3 align-self-middle hide-from-medium">
        <a href="#" class="product-related__right text-center">
            <span class="product-related__img">
              <img src="images/parts/tv.jpg" alt="#">
            </span>
          <span class="product-related__title font-Montserrat text-grey-extra">External TV <svg class="" width="22px" height="16px" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg"><g stroke="inherit" stroke-width="1" fill="none" stroke-linecap="round"><g transform="translate(1.000000, 1.000000)" stroke="inherit" stroke-width="2"><polyline points="12.4124355 0 19.2060059 6.79357043 12.4124355 13.5871409"></polyline><line x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line><line class="svg-anim" x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line></g></g></svg></span>
        </a>
      </div>
    </div>
    <div class="row column text-center">
      <a href="#" class="btn btn-primary">View all available options</a>
    </div>
  </section>
  {{> ../partials/cta}}
  {{> ../common/footer}}
</body>
</html>
