<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="individual-modal">
  {{> ../common/header}}
  <section class="individual-modal__hero" style="background-image: url('images/pictures/van-on-the-mountain-road.jpg')">
    <div class="row column text-white text-center">
      <div class="individual-modal__hero__container">
        <h4>Anniversary range</h4>
        <h1>Endeavour</h1>
        <h4 class="fw-bold individual-modal__hero__subtitle">escape to your oasis</h4>
      </div>
    </div>
  </section>

  <section class="overflow-hidden review-block">
    <div class="row flex-dir-column large-flex-dir-row">
      <div class="review-block__img position-relative overlay-grey-extra" style="background-image: url('images/pictures/couple-with-dog.jpg')">

      </div>
      <div class="review-block__text narrow">
        <h3 class="text-grey-extra">
          Exceptional <br> value for money
        </h3>
        <div  class="text-grey-medium">
          <p>
            Featuring our signature contemporary modular furniture and cabinetry, the Endeavour's spacious interior is the perfect place to relax and unwind.
          </p>
          <p>
            Packed with features and upgrades usually reserved for premium priced vans such as a front load washing machine, 24" LCD TV, reverse cycle air conditioning and a 150w solar panel & 100 amp deep cycle battery.
          </p>
          <p>
            We haven't forgotten about the exterior either with the robust 4" chassis, 15" alloy wheels with all terrain tyres, external picnic table and rollout awning all included on the base model.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="product-related__section">
    <div class="row column text-center">
      <h3>Upgrade your endeavour</h3>
      <p class="text-grey-medium product-related__description">As with all our caravans there is extensive scope to customise
        and tailor your van to cater to your family’s needs.</p>
    </div>
    <div class="flex-container product-related__container">
      <div class="column large-3 align-self-middle hide-from-medium">
        <a href="#" class="product-related__left text-center">
            <span class="product-related__img">
              <img src="images/parts/043268_11791.jpg" alt="#">
            </span>
          <span class="product-related__title font-Montserrat text-grey-extra"><svg width="22px" height="16px" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg"><g stroke="inherit" stroke-width="1" fill="none" stroke-linecap="round"><g transform="translate(1.000000, 1.000000)" stroke="inherit" stroke-width="2"><polyline points="12.4124355 0 19.2060059 6.79357043 12.4124355 13.5871409"></polyline><line x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line><line class="svg-anim" x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line></g></g></svg>External speakers</span>
        </a>
      </div>
      <div class="column small-12 medium-6 large-3">
        <a href="#" class="product-related__block text-center">
            <span class="product-related__img">
              <img src="images/parts/ssa45-5-396x370.jpg" alt="#">
            </span>
          <span class="product-related__title font-Montserrat text-grey-extra">S leaf spring <br> suspension</span>
          <span class="product-related__content fz-1rem text-grey-medium"> Ut enim ad minim veniam, quis nostrudexercitation ullamco laboris.</span>
        </a>
      </div>
      <div class="column small-12 medium-6 large-3">
        <a href="#" class="product-related__block text-center">
            <span class="product-related__img">
              <img src="images/parts/53_00_dometic_skl101_9600006441_55300_11.jpg" alt="#">
            </span>
          <span class="product-related__title font-Montserrat text-grey-extra">Slide out <br> alfresco kitchen</span>
          <span class="product-related__content fz-1rem text-grey-medium"> Ut enim ad minim veniam, quis nostrudexercitation ullamco laboris.</span>
        </a>
      </div>
      <div class="column large-3 align-self-middle hide-from-medium">
        <a href="#" class="product-related__right text-center">
            <span class="product-related__img">
              <img src="images/parts/tv.jpg" alt="#">
            </span>
          <span class="product-related__title font-Montserrat text-grey-extra">External TV <svg class="" width="22px" height="16px" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg"><g stroke="inherit" stroke-width="1" fill="none" stroke-linecap="round"><g transform="translate(1.000000, 1.000000)" stroke="inherit" stroke-width="2"><polyline points="12.4124355 0 19.2060059 6.79357043 12.4124355 13.5871409"></polyline><line x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line><line class="svg-anim" x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line></g></g></svg></span>
        </a>
      </div>
    </div>
    <div class="row column text-center">
      <a href="#" class="btn btn-primary">View all available options</a>
    </div>
  </section>
  {{> ../partials/cta}}
  {{> ../common/footer}}
</body>
</html>
