<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{> ../common/header}}
<section class="row column page-intro">
  <h2 class="text-center">Dealer Log In</h2>
</section>
<section class="row column">
  <form action="#" class="log-in-form">
    <label class="text-grey-extra" for="name">Username</label>
    <input class="margin-bottom-1" type="text" id="name">
    <label class="text-grey-extra" for="password">Password</label>
    <input type="password" id="password">
    <button class="btn btn-grey-outline fw-bold text-center display-block" type="submit">Log In</button>
    <a href="#" class="text-grey-medium display-block text-center" role="link">Forgot your password?</a>
  </form>
</section>
{{> ../common/footer}}
</body>
</html>
