<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
  {{> ../common/header}}
  {{#with image-block}}
    <section class="image-block flex-container flex-dir-column-reverse large-flex-dir-row">
      <div class="image-block__text {{text-class}}">
        <div class="image-block__text__content {{#if ../narrow}} narrow {{/if}} {{#if ../medium}} medium {{/if}}">
          {{#if subtitle}}<p class="image-block__subtitle text-uppercase">{{subtitle}}</p>{{/if}}
          <h3 class="image-block__title">{{{heading}}}</h3>
          <div class="flex-container align-middle text-primary image-block__share">
            <p class="fw-bold fz-1rem margin-bottom-0">Share</p>
            <a href="#"><img src="images/symbols/facebook.svg" alt="#" width="10px"></a>
            <a href="#"><img src="images/symbols/mail.svg" alt="#" width="20px"></a>
            <a href="#"><img src="images/symbols/share.svg" alt="#"></a>
          </div>
        </div>
      </div>
      <div class="image-block__img" style="background-image: url('{{image}}')"></div>
    </section>
  {{/with}}
  <section class="resources-tab__container">
    <div class="row">
      <div class="column large-offset-1 small-12 medium-8 large-6">
        <h4 class="fw-bold text-grey-extra tt-none margin-bottom-2">
          Quam id leo in vitae turpis massa. Sem integer vitae justo eget magna fermentum iaculis eu non. Imperdiet massa tincidunt nunc pulvinar sapien. Sit amet est placerat in egestas erat imperdiet sed.
        </h4>
        <div class="text-grey-medium fz-1rem">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam id leo in vitae turpis massa. Sem integer vitae justo eget magna fermentum iaculis eu non. Imperdiet massa tincidunt nunc pulvinar sapien. Sit amet est placerat in egestas erat imperdiet sed. Euismod elementum nisi quis eleifend quam.
          </p>
          <p class="margin-bottom-0">
            Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Elementum eu facilisis sed odio morbi quis commodo odio aenean. Sit amet commodo nulla facilisi nullam vehicula. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae. Odio eu feugiat pretium nibh ipsum consequat nisl vel pretium. Massa tincidunt dui ut ornare.
          </p>
          <img class="margin-vertical-2" src="images/pictures/kitchen-inside-the-caravan-x491.jpg" alt="#">
          <p>
            Morbi enim nunc faucibus a. Arcu bibendum at varius vel pharetra vel. Orci ac auctor augue mauris augue neque. Vel fringilla est ullamcorper eget nulla facilisi. Aliquam faucibus purus in massa tempor nec feugiat. Tempor id eu nisl nunc mi ipsum. Cursus risus at ultrices mi. Placerat duis ultricies lacus sed turpis.
          </p>
        </div>
      </div>
      <div class="column large-offset-1 small-12 medium-4 large-3">
        <div class="resources-tab__content margin-bottom-2">
          <h4 class="fw-bold font-Montserrat">Discover more articles and info</h4>
          <a href="#" class="text-white single-tile__block">
            <span class="single-tile position-relative overflow-hidden margin-bottom-0">
              <img src="images/pictures/caravan-on-the-seashore.jpg" class="absolute-fill single-tile__img" alt="#">
              <span class="single-tile__subtitle text-uppercase">events</span>
              <span class="single-tile__title text-uppercase fz-1rem">Excepteur sint occaecat cupidatat non proident</span>
              <span class="btn btn-white fw-bold">Read more</span>
            </span>
          </a>
          <a href="#" class="text-white single-tile__block">
            <span class="single-tile position-relative overflow-hidden margin-bottom-0">
              <img src="images/pictures/kitchen-inside-the-caravan.jpg" class="absolute-fill single-tile__img" alt="#">
              <span class="single-tile__subtitle text-uppercase">products</span>
              <span class="single-tile__title text-uppercase fz-1rem">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui </span>
              <span class="btn btn-white fw-bold">Read more</span>
            </span>
          </a>
        </div>
        {{> ../partials/col-subscribe-form}}
      </div>
    </div>
  </section>
  <section class="row prefooter-links">
    <div class="column large-offset-1 small-12 large-10 prefooter-links__separator">

    </div>
    <div class="column large-offset-1 small-12 medium-6 large-5">
      <a href="#" class="btn-primary prefooter-links__link--left">
        <svg width="22px" height="16px" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg"><g stroke="inherit" stroke-width="1" fill="none" stroke-linecap="round"><g transform="translate(1.000000, 1.000000)" stroke="inherit" stroke-width="1.5"><polyline points="12.4124355 0 19.2060059 6.79357043 12.4124355 13.5871409"></polyline><line x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line><line class="svg-anim" x1="1.13686838e-13" y1="6.79357043" x2="19.2060059" y2="6.79357043"></line></g></g></svg>
        Excepteur sint occaecat…
      </a>
    </div>
    <div class="column large-5 small-12 medium-6 text-right">
      <a href="#" class="btn btn-primary">
        Duis aute irure dolor
      </a>
    </div>
  </section>
  {{> ../partials/cta}}
  {{> ../common/footer}}
</body>
</html>
